@import 'bower_components/nib/'

.ntibar
    fixed top 30px right 0
    width 100px
    box-shadow 0 0 5px #888888
    border-radius 5px
    height 60px

    &:hover
        margin-left auto
        height 60px
        min-width 800px