@import 'bower_components/nib/'

height=60px
width=1024px
dwidth=100px

.orange
    color orange

.green
    color green


.ntibar
    fixed top 30px right 0
    box-shadow 0 0 5px #888888
    border-radius 5px
    height height
    width width
    right dwidth - width

    &:hover
        margin-left auto
        right 0
        transition eft .3s ease-in-out

    form
        padding-top 5px
        padding-bottom 5px

    .status
        width dwidth
